


<style>
    body {
     background-color: #f8f9fa;
   }
 
   .login-card {
     max-width: 400px;
     margin: 0 auto;
     margin-top: 50px; /* Decreased top margin to 50px */
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
     .login-card .card-body {
       padding: 30px;
     }
 
     .login-card .card-title {
       font-size: 28px;
       font-weight: bold;
       margin-bottom: 30px;
       color: #333;
     }
 
     .login-card .form-control {
       border-color: #ccc;
     }
 
     .login-card .form-control:focus {
       box-shadow: none;
       border-color: #80bdff;
     }
 
     .login-card .btn-primary {
       background-color: #007bff;
       border: none;
       width: 100%;
     }
 
     .login-card .btn-primary:hover {
       background-color: #0056b3;
     }
 
     .login-card .create-account {
       margin-top: 20px;
       text-align: center;
     }
   </style>
  
  
   <div class="container">
     <div class="row">
       <div class="col-lg-6 mx-auto">
         <div class="card login-card">
           <div class="card-body">
             <h1 class="card-title text-center">Reset Password</h1>
         
             <form action="/password/reset-password/<%= userId %>/<%= token %>" method="POST">
               <div class="mb-3">
                 <label for="password" class="form-label">New Password:</label>
                 <input type="password" class="form-control" id="password" name="password" required>
               </div>
              
               <button type="submit" class="btn btn-primary">Reset Password</button>
             </form>
             
           </div>
         </div>
       </div>
     </div>
   </div>
  
 