<div class="container-fluid container-fluid-custom py-md-1 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          All your essential tools in one place.
        </h1>
        <p class="fs-4 mb-4">
          NoteGuard is an innovative solution that combines notes taking, bookmark management, and password storage into a single platform. Keep your life organized effortlessly.
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">Get Started Now!</a>
      </div>
    </div>
  </main>
</div>
